@import "../../style/variable.scss";

.game-roulete{
	.game-page__roulete{
		width: 100%;
		overflow: hidden;
		padding: 3px 0;
		border-radius: 10px;
		margin: 25px 0;
		position: relative;
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.21);
		ul{
			position: relative;
			left: 0;
			transition-timing-function: cubic-bezier(0.3, 0.8, 0.7, 0.95);
		}
		.row{
			gap: 0;
		}
		li{
			list-style: none;
			width: 150px;
			height: 150px;
			flex-shrink: 0;
			text-align: center;
			opacity: 1;
			background-color: white;
		}
		li:nth-child(2n) {
			background-color: $main-color;
			color:  white;
		}

		img{
			width: 120px;	
			height: auto;
			display: block;
			margin: 0 auto;
		}
	}
	.game-page__roulete::after{
		content: "";
		display: block;
		position: absolute;
		left: calc(50% - 10px);
		bottom: 0;
		border: 10px solid transparent; 
		border-top: 30px solid rgb(0, 0, 0);
		transform: rotate(180deg); 
	}

	.game-page__roulete::before{
		content: "";
		display: block;
		position: absolute;
		left: calc(50% - 10px);
		top: 0;
		z-index: 2;
		border: 10px solid transparent; 
		border-top: 30px solid rgb(0, 0, 0); 
	}

	input{
		height: 35px;
		max-width: 320px;
		width: 100%;
		display: block;
		margin: 0 auto;
		border-radius: 10px;
		padding:  0 10px;
		font-size: 16px;
		border: 1px solid black;
	}

	button{
		max-width: 320px;
		width: 100%;
		margin: 20px auto;
	}

	.cat{
		display: block;
		margin: 0 auto;
	}
}